body {
    height: 100vh;
    margin: 0;
    /* add font family later  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* add header stuff here later  */

/* add h1 stuff here later  */

#board {
    display: grid;
    grid-template-columns: repeat(8,10vmin);
    grid-template-rows: repeat(8,10vmin);
}

#board > div {
    border: 0.1vmin solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pieces should never be on this type-1 tile */
.type-1 {
    background-color: pink;
}

/* All my pieces will live on this type-2 tile no matter what */
.type-2 {
    background-color: antiquewhite;
}

button {
    margin-top: 4vmin;
    /* customize button here later */
}

/* add button hover mechanics here later */

/* This is player 1s piece design */
game-piece1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;
    background-color: orange;
    padding: 0px;
}

/* This is player 2s piece design, its name semantically is "-1" */
game-piece-1 {
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;
    background-color: black;
}

/* This is the class for when a piece is selected to move */
a.highlight-self {
    margin: 0px;
    padding: 0px;
    border: 20px solid pink;
    border-radius: 50%;
}

/* This is the class for when you want to show potential moves */
.highlight-spot {
    width: 40px;
    height: 40px;
    background: cornflowerblue;
    border-radius: 50%
}